html, body {
    height: 100%;
}
.card {
    height: fit-content !important
}
#selectedImage, #returnedImage {
    width: 250px !important;
    height: 250px !important;
    border: none;
    padding: none;
    margin-top: 1rem;
}
label{display:inline-block;width:50px;}
input[type=file] {
    border: 1px solid #8f8f9d;
    border-radius: 5px;
}
input[type=submit] {
    margin-top: 5px;
    margin-bottom: 10px;
}
img {
    border: 0.5px dashed gray;
    width: 250px;;
    max-width: 250px;
}
.hidden {
    display: none !important;
}